{% extends 'dev/base_template.html' %}
{% block title %}Home{% endblock %}
{% block home %}class="active"{% endblock %}
{% block body %}
    {% for project in projects %}
        <div class="w3-card-4" style="margin: 3%">
            <header class="w3-container w3-light-grey">
                <h3>By {{ project.creator.username }}</h3>
            </header>
            <div class="w3-container">
                <h2>{{ project.title }}</h2>
                <hr>
                <p>{{ project.description }}</p>
            </div>
            <button  class="w3-button w3-block w3-dark-grey" onclick="window.location.href='{{ project.github_link }}'" >Contribute/View Source Code</button>
        </div>
    {% endfor %}
    {% if is_paginated %}

        <ol class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ol>
    {% endif %}
{% endblock %}


