<form action="{% url 'dev:readform' %}" method="post">
{% csrf_token %}	
  Name:<br>
  <input type="text" name="dev_name" placeholder="Enter your name"><br>
  Email Id:<br>
  <input type="text" name="dev_emailid" placeholder="Enter email Id"><br>
  PassWord:<br>
  <input type="password" name="dev_password" placeholder="Enter your password here">
  <h3>Interests</h3>
  <input type="text" name="dev_interest" placeholder="Mention some of your interests"><br>
  <input type="submit" name="Submit" value="Submit">
</form>
  

